# Set default behavior to automatically normalize line endings
* text=auto

# Force Unix line endings on checkin for all source files
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf

# Denote binary files that should not be normalized
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
